
body {
    background: #000000;
    background-size: cover !important;
    color: #000000 !important;
}

#calc {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  background: #1e1e2f;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
}

#display {
  grid-column: 1 / -1;
  height: 40px;
  font-size: 1.2em;
  text-align: right;
  padding: 5px;
  border-radius: 6px;
  border: none;
  background: #224400;
  color: #ffffff;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-auto-rows: 50px;
  gap: 5px;
}

button {
  font-size: 1.1em;
  border-radius: 8px;
  border: none;
  background: #32325d;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #505080;
}






